# .gitignore
.env  # Ignore environment variable file

# Ignore JSON data files for basic separation among sedan, SUV, and truck
data/trimmed_minimal_50_id_sedans.json          # Minimal dataset for sedans
data/trimmed_minimal_50_id_suvs.json             # Minimal dataset for SUVs
data/trimmed_minimal_50_id_trucks.json           # Minimal dataset for trucks

# Ignore JSON data files for basic separation among sedan, SUV, and truck with brands
data2/trimmed_extended_50_id_sedans              # Extended dataset for sedans with brands
data2/trimmed_extended_50_id_suvs                 # Extended dataset for SUVs with brands
data2/trimmed_extended_50_id_trucks               # Extended dataset for trucks with brands

# Ignore classified_images directory
classified_images/                                # Directory for classified images

